is/target/classes/is3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <db:mysql-config name="MySQL_Configuration" host="127.0.0.1" port="3306" user="root" password="admin" database="MySqlDS2" doc:name="MySQL Configuration"/>
    <db:mysql-config name="MySQL_Configuration1" url="jdbc:mysql://127.0.0.1:3306/?user=admin" doc:name="MySQL Configuration"/>
    <db:mysql-config name="MySQL_Configuration2" url="jdbc:mysql://localhost:3306/?user=root&amp;password=admin" doc:name="MySQL Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="is3Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/soap" doc:name="HTTP"/>
        <cxf:jaxws-service serviceClass="ws.MeuServico" doc:name="CXF"/>
        <choice doc:name="Choice">
            <when expression="payload.action.equals(&quot;unsubscription&quot;)">
                <flow-ref name="unsubscribesubflow" doc:name="unsubscribe_email_subflow"/>
            </when>
            <when expression="payload.action.equals(&quot;subscription&quot;)">
                <flow-ref name="subscription_subflow" doc:name="subscription_subflow"/>
            </when>
            <when expression="payload.action.equals(&quot;listar&quot;)">
                <flow-ref name="listar_subflow" doc:name="listar_subflow"/>
            </when>
        </choice>
    </flow>
</mule>
