is/target/classes/unsubscribe.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">

    <sub-flow name="unsubscribesubflow">
        <flow-ref name="send_uvalidation_email_subflow" doc:name="send_uvalidation_email_subflow"/>
    </sub-flow>

    <flow name="webuflow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/unsubscribe/" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.email]" doc:name="Set Payload"/>
        <flow-ref name="unsubscribesubflow" doc:name="unsubscribesubflow"/>
        <set-payload value="'#[message.payload]'" doc:name="Set Payload"/>
    </flow>
    <flow name="soap_unsubscribe_flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/soap_unsubscribe" allowedMethods="GET,POST" doc:name="HTTP"/>
        <cxf:jaxws-service serviceClass="ws.Unsubscription" doc:name="CXF"/>
        <custom-transformer returnClass="java.util.HashMap" class="ws.HashSubscription" doc:name="Java"/>
        <set-variable variableName="validation_email" value="#[message.payload['email']]" doc:name="Set Validation Email"/>
        <set-variable variableName="course" value="#[message.payload['course']]" doc:name="Set Validation Course"/>
        <flow-ref name="unsubscribesubflow" doc:name="unsubscribesubflow"/>
        <set-payload value="'#[message.payload]'" doc:name="Set Payload"/>
    </flow>
    <sub-flow name="send_uvalidation_email_subflow">
        <set-payload value="Validate your subscription here: http://localhost:8081/validate_unsubscription/?email=#[flowVars.validation_email]&amp;course=#[flowVars.course]" doc:name="Set validation email content Payload"/>
        <logger message="validation email message: #[message.payload]" level="DEBUG" doc:name="Logger"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="ananasfidalgo%40gmail.com" password="ej069yry" connector-ref="Gmail" to="#[flowVars.validation_email]" from="ananasfidalgo@gmail.com" subject="Please verify your email address" responseTimeout="10000" doc:name="Send validation email"/>
        <db:update config-ref="MySQL_Configuration5" doc:name="Update number fo sent emails in Database">
            <db:parameterized-query><![CDATA[UPDATE statistics SET num_sent_emails = num_sent_emails + 1 where id = 0;]]></db:parameterized-query>
        </db:update>
        <db:update config-ref="MySQL_Configuration5" doc:name="Update number sent emails daily">
            <db:parameterized-query><![CDATA[UPDATE statistics SET num_sent_emails_dia = num_sent_emails_dia + 1 where id = 0;]]></db:parameterized-query>
        </db:update>
    </sub-flow>

</mule>
